<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/adminPanel.js"></script>
    <script src="/js/adminPanelFacilities.js"></script>
    <script src="/js/adminPanelProjects.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminPanelOne.css">
    <link rel="stylesheet" href="/css/scheme1.css">
</head>
<style>

.table-responsive {
    max-height:300px;
}

</style>
<body>

    <div class="container">
        <h1 style="font-family: 'Vollkorn', serif;text-align: center;">ADMIN PANEL</h1>
      <!-- first row begins -->
        <div class="row" style="margin-top:3%;">

            <div class="col-md-6">              
                <div class="table-responsive" id="projectsTable">          
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header"></th>
                                <th class="header">PROJECTS (SCHEME ONE)</th>
                                <th class="header"></th>
                                <th class="header"></th>
                            </tr>
                        </thead>

                        <thead>
                            <tr>
                                <th class="subheader">PROJECT ID</th>
                                <th class="subheader">PROJECT NAME</th>
                                <th class="subheader">APPROVE</th>
                                <th class="subheader">REMOVE</th>
                             </tr>
                        </thead>
                        <tbody>
                            <% schemeOneRows.forEach(function(item) { %>
                                <tr>
                                    <td ><a href="#"><span class="projectId"><%= item.id %></span></a></td>
                                    <td ><span class="projectName"><%= item.projectTitle %></span></td>
                                    <% if (item.approvedByL1 == 'Yes') { %>
                                        <td><button id="approveForProjectsByL1" type="button" class="btn btn-success" disabled >APPROVE </button></td>
                                    <% } else { %> 
                                        <td><button id="approveForProjectsByL1" type="button" class="btn btn-success">APPROVE </button></td>
                                    <% } %>
                                    <td><span id="removeForProjects"><i style="color:red;cursor:pointer;" class="fa fa-close"></i></span></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>

        <!--second table of first row-->  
            <div class="col-md-6">                
                <div class="table-responsive" id="facilitiesTable">          
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header"></th>
                                <th class="header">FACILITIES/TOOLS (SCHEME 2)</th>
                                <th class="header"></th>
                                <th class="header"></th>
                          </tr>
                        </thead>
     
                        <thead>
                             <tr>
                                <th>APPLICANT ID</th>
                                <th>APPLICANT NAME</th>
                                <th>APPROVE</th>
                                <th>REMOVE</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <% schemeTwoRows.forEach(function(item) { %>
                                <tr>
                                    <td ><a href="#"><span class="applicantId"><%= item.id %></span></a></td>
                                    <td ><span class="applicantRoll"><%= item.roll %></span></td>
                                    <% if (item.approved == 'Yes') { %>
                                        <td><button id="approveForFacilities" type="button" class="btn btn-success" disabled>APPROVE </button></td>
                                    <% } else { %> 
                                        <td><button id="approveForFacilities" type="button" class="btn btn-success">APPROVE </button></td>
                                    <% } %>
                                    <td><span id="removeForFacilities"><i style="color:red;cursor:pointer;" class="fa fa-close"></i></span></td>
                                </tr>
                            <% }); %>
                        </tbody>
       
                     </table>
                </div>
            </div>

        </div>
         
    <!-- second row begins-->
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-6">                 
                <div class="table-responsive" id="hallBookingRequests">          
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header"></th>
                                <th class="header">HALL BOOKING</th>
                                <th class="header"></th>
                                <th class="header"></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>REQUEST ID</th>
                                <th>PERSON ROLL</th>
                                <th>APPROVE</th>
                                <th>REMOVE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ><a href="#"><span class="projectId">Id</span></a></td>
                                <td ><a href="#"><span class="proname" onclick="openmodal()">ALPHA GO 4rtgvTNYnyrrvtrvgb</span></a></td>
                                <td><button type="button" class="btn btn-success">APPROVE </button></td>
                                <td><span id="removeForRoomRequest"><i style="color:red;cursor:pointer;" class="fa fa-close"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="table-responsive" id="projectsApprovedByL2">          
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header"></th>
                                <th class="header">PROJECTS APPROVED BY ALUMNI</th>
                                <th class="header"></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>PROJECT ID</th>
                                <th>PROJECT NAME</th>
                                <th>REMOVE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% schemeOneRows.forEach(function(item) { %>
                                <% if (item.approvedByL2 == 'Yes') { %>
                                    <tr>
                                        <td ><a href="#"><span class="projectId"><%= item.id %></span></a></td>
                                        <td ><span class="projectName"><%= item.projectTitle %></span></td>
                                        <td><span id="removeForProjects"><i style="color:red;cursor:pointer;" class="fa fa-close"></i></span></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5%;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" id="addAdminForm">
                <h2 style="font-family: 'Vollkorn',serif;">ADD ADMINS</h2>
                <label>Enter username for admin:</label><br>
                <input type="text" id="userName" name="userName" autocomplete="off">
                <label>Enter password for admin:</label><br>
                <input type="password" id="adminPassword" name="adminPassword" autocomplete="off">
                <label>Confirm password by re-entering</label><br>
                <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="off">
                <label>Select the level of admin:</label><br>
                <select id="adminLevel" name="adminLevel">
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                </select><br><br>
                <span id="addAdminMsg"></span>
                <button id="addAdmin" class="btn btn-warning btn-lg">Add Admin</button>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row" style="margin-top:5%;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-lg">Mail for Projects</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-lg">Mail for Facilities</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-lg">Mail for Hall Booking</button>
                    </div>
                    <div class="col-md-3">
                        <form method="post" action="/admin/logout">
                            <button type="submit" class="btn btn-warning btn-lg">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div id="infoModal" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-teal" > 
                <span id="closeModal" class="w3-button w3-display-topright">&times;</span>
                <h2>Request Details</h2>
            </header>
            <div class="w3-container">
                <ul id="infoList">
                </ul>
            </div>
        </div>
    </div>
</body>
</html>